@{
    ViewData["Title"] = "About";
}

<div class="text-center m-0">
    <img src="~/images/job-search-banner.jpeg" alt="Recruitment Illustration" class="recruitment-illustration mt-5" />
</div>
<div class="about-container d-flex flex-column">
    <div class="text-center my-5">
        <p class="about-title">Our mission</p>
        <div class="about-content d-flex justify-content-between mt-5">
            <p class="about-citation">
                “To hire is to take people higher…”<br />
                – Haresh Sippy
            </p>
            <p class="about-desription">Our group makes a positive impact on people every day. The mission of our group is to help people get a dream job and also make the recruitment process easier for companies that constantly hire people.</p>
        </div>
    </div>
    <div class="text-center">
        <p class="about-title">Our strategy</p>
        <div class="about-content d-flex justify-content-between mt-5">
            <p class="about-citation">
                “You cannot push anyone up the ladder unless he is willing to climb.”<br />
                – Andrew Carnegie
            </p>
            <p class="about-desription">Our group works towards motivating our clients the most. The strategy that our group follows is to stand by our clients throughout each phase of their life cycles. Additionally, we guide our clients toward the things they love.</p>
        </div>
    </div>
    <div class="text-center my-5">
        <p class="about-title">Our values</p>
        <div class="about-content d-flex justify-content-between mt-5">
            <p class="about-citation">
                “Recruiting should be viewed as a business partner, someone who is critical to the success of the business.”<br />
                – Mathew Caldwell
            </p>
            <p class="about-desription">Our group upholds collaboration by playing for each other and our clients. We are passionate about our business and our roles, showing enthusiasm, energy and taking pleasure in what we do. On top of that, encourage the open exchange of ideas and opinions.</p>
        </div>
    </div>
</div>