@{
    ViewData["Title"] = "FAQ";
}
<div class="d-flex flex-column justify-content-center align-items-center my-5">
    <h1 class="display-5">Frequently Asked Questions</h1>
    <p class="mt-2 mb-2">Find answers to the most frequently asked questions.</p>
</div>
<div>
    <div class="accordion pb-lg-5" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    How does the system notify me about new job opportunities?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>To stay informed about new job opportunities, you can subscribe to our newsletter. By opting into our newsletter service, you will receive regular updates on the latest job openings, industry trends, and valuable career insights directly in your email inbox. This ensures that you never miss out on exciting prospects that match your skills and preferences. Simply navigate to the footer and enter your email address to subscribe to the newsletter.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How can I receive feedback on my job applications?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>The system ensures you stay informed throughout the application process. Feedback on your job applications or interviews will be conveniently sent to your registered email address. This allows you to receive timely insights and valuable information to enhance your job search strategy. Make sure to regularly check your email for updates and feedback notifications.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Is there a mobile app available for on-the-go job searching and application tracking?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Unfortunately, there is no mobile app available at the moment. However, we are actively working on developing a mobile application in the future to enhance your job searching and application tracking experience. Stay tuned for updates as we strive to provide you with more convenience and accessibility in the future.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Can I apply to multiple positions simultaneously?
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Absolutely! Our platform is designed to make your job search as efficient and flexible as possible. You have the freedom to apply to multiple positions concurrently, allowing you to explore diverse opportunities across various industries and roles. This feature streamlines the application process, saving you valuable time and ensuring that you can cast a wide net in pursuit of your ideal job. We understand that your career journey may involve considering various paths, and our platform is here to support you every step of the way.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Can I connect with recruiters or hiring managers directly?
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Building meaningful connections is crucial to a successful job search, and our platform facilitates direct communication with recruiters and hiring managers. You can connect with them through our dedicated messaging feature, available in the contact section. This feature allows you to send personalized messages, inquire about specific job details, or seek additional information about the application process.</p>
                </div>
            </div>
        </div>
    </div>
</div>